@font-face {
  font-family:Simpsons;
  src: url('../font/SimpsonfontDEMO.otf');
}
:root { 
  --defaulColor: rgb(36, 138, 27);
  --fontColor: rgb(255, 255, 255);
  --cardColor: rgba(158, 157, 157, 0.74);
  --fontFamily: Simpsons;
}

html{
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
}

.generic-class {
  width: 100vw;
  height:10vh;
  color: var(--fontColor);
  background-color: var(--defaulColor);
  font-style: italic;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}

main {
  overflow: auto;
  display:flex;
  height: 90vh;
  padding: 1.5em;
}

.container-main{
  overflow: auto;
  width: 30vw;
  height: 26vh;
  margin-top:4em;
  margin-right: 1.5em;
  padding: 1em;
  background-color: var(--cardColor);
  box-shadow: 2px 2px 8px rgb(0,0,0);
  border: 2px solid var(--fontColor);
  border-radius: 0.9em;
}

.container-main h4{ 
  color: var(--defaulColor);
  text-shadow:1px 1px 2px var(--fontColor);
}

footer {
  position: fixed;
  bottom: 0;
}