@font-face {
    font-family: "Mario-font";
    src: url(./font/super_mario_256/SuperMario256.ttf);
}

html{
    max-width: 100vw;
    max-height: 90vw;
    margin: 0;
    padding: 0;
    font-family: "Mario-font";
}

body {
    
    background-image: url(./image/background-mario.jpg);
    background-position: contain;
    background-size: cover;
    z-index: 0;
}
#title-header, #title-author{
    color: white;
    text-shadow:  6px 4px 2px  black;
    text-align: center;
}

.super-mario {
    width: 100px;
    position: absolute;
    top: 58%;
    left: 17%;
    z-index: 1;
}

.goomba {
    width: 80px;
    position: absolute;
    top: 87%;
    left: 12%;
    z-index: 1;
}

.baloon {
    position: absolute;
    top:70%;
    left:58%;
    width: 170px;

}

.speach {
    font-size: 11px;
    color: white;
    text-shadow:4px 2px 2px  black;
    position: absolute;
    top: 73%;
    left: 58.5%;
}

.bowser {
    width: 200px;
    position: absolute;
    top: 78%;
    left: 67%;
    transform: rotate(-4deg);
}

